.projectsSection {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background: #f8f8f8;
  overflow: hidden;
  padding: 7rem 0 5rem 0;
}

.projectsBgText {
  position: absolute;
  left: 50%;
  top: 44%;
  transform: translate(-50%, -50%);
  font-size: 10rem;
  font-weight: 500;
  color: #22222210;
  letter-spacing: 0.29em;
  white-space: nowrap;
  user-select: none;
  pointer-events: none;
  z-index: 0;
}

.topRightAccent {
  position: absolute;
  top: 2.2rem;
  right: 4vw;
  display: flex;
  align-items: center;
  z-index: 10;
}
.sectionLabel {
  font-size: 1.4rem;
  color: #222222;
  font-weight: 700;
  letter-spacing: 0.13em;
  margin-right: 1.6rem;
}
.sectionLine {
  display: inline-block;
  height: 2px;
  width: 320px;
  background: #222222;
  border-radius: 1px;
  opacity: 0.48;
}

.projectsList {
  width: 94vw;
  max-width: 1420px;
  margin: 0 auto;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 4.4rem;
  position: relative;
  z-index: 3;
}
